.container {
  width: 100%;
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 20px;

  @include mq(desktop) {
    max-width: calc($desktop - 40px);
  }

  &--blue {
    background-color: var(--color-dark-blue);
    border-radius: 13px;
  }
}