.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 80px;
  right: 0px;
  border-radius: 50px;
  background: linear-gradient(
    180deg,
    rgba(24, 50, 108, 1) 0%,
    rgba(24, 50, 108, 1) 12%,
    rgba(24, 48, 108, 0.25262605042016806) 100%
  );
  transition: opacity 0.2s;
  @include mq(desktop) {
    top: 130px;
    right: 30px;
    padding: 10px;
    padding: 4px;
  }
}
.control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: transparent;
  width: 33px;
  height: 33px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.2s;
  & > img {
    width: 20px;
    height: 20px;
    @include mq(desktop) {
      width: 25px;
      height: 25px;
    }
  }
}

.control-button.sound-button {
  height: 28px;
  width: 28px;
  @include mq(desktop) {
    height: 40px;
    width: 40px;
  }
}
